<section class="hero is-medium is-primary">
  <div class="hero-body">
    <p class="title">Dune Random Quote Generator</p>
    <p class="subtitle">Wisdom from the sands of Arrakis</p>
  </div>
</section>
<section class="section">
  <p-carousel [value]="quotes">
    <ng-template let-quote pTemplate="item">
      <div class="quote-item">
        <p-card>
          {{quote.quote}}
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
  <div class="container has-text-centered mt-4">
    <button (click)="updateQuotes()" class="button is-warning">Refresh Quotes</button>
  </div>
</section>
<section class="section has-text-centered">
  <h1 class="title">Books</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <td><a href={{book.wiki_url}}>{{book.title}}</a></td>
              <td>{{book.year}}</td>
              <td>{{book.author}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>
